<footer class="main-footer">

	<div class="container">
		
			<div class="row">
					<div class="twelvecol">

						<h2>Get in touch</h2>

						<p>
							If you are interested in <a href="mailto:mailto:sam@samuelchalmers.com">getting in touch</a> with me please feel free to so.
						</p>

					</div>
			</div>

			
			<div class="row">
				
				<div class="twelvecol">
		
					<ul class="ch-grid">
						<li>
							<div class="ch-item ch-img-1">
								<div class="ch-info">
									<a href="https://twitter.com/samuelchalmers">
										<h3>Follow me<br/>on Twitter</h3>
										<p>Click</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-2">
								<div class="ch-info">
									<a href="http://www.facebook.com/sam.chalmers.315">
										<h3>Catch me on<br/>Facebook</h3>
										<p>Click</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-3">
								<div class="ch-info">
									<a href="http://www.linkedin.com/profile/view?id=85865823&amp;authType=name&amp;authToken=zWJ0&amp;locale=en_US&amp;pvs=pp&amp;trk=ppro_viewmore">
								    	<h3>Find me<br/>on Linkedin</h3>
										<p>Click</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-4">
								<div class="ch-info">
									<a href="mailto:sam@samuelchalmers.com">
										<h3>Email<br/>Me</h3>
										<p>Click</p>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>	
			</div>		
    	</div>
</footer>
