<%= partial "partials/header" %>

<div class="container main-content">
	
	
	<div class="row">

		<div class="twelvecol">
			<h2>Latest work</h2>
			<p class="introduction">
				Ive been lucky enough to work in some <a href="http://www.reactive.com">award winning agencies</a> for some great clients...
			</p>

			<p>Below is a sample of some of the projects I have been working on lately at <a href="http://www.reactive.com">reactive</a>.</p>
			
		</div>
	</div>

	<div class="works">

		
		<div class="row">


			<div class="sixcol">
				<h2>ANZ GO-MONEY</h2>
				<div class="thumb-container">
					<a href="http://www.gomoney.anz.com/" target="_blank"><img src="/img/thumbs/anz.png" alt="anz"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://www.gomoney.anz.com/">www.gomoney.anz.com</a></p>
			</div>

			<div class="sixcol last">
				<h2>Sam Stousa</h2>
				<div class="thumb-container">
					<a href="http://samstosur.com/" target="_blank"><img src="/img/thumbs/sam.jpg" alt="Sam Stosur"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://samstosur.com/">www.samstosur.com</a></p>
			</div>

			<div class="sixcol">
				<h2>Bankmecu</h2>
				<div class="thumb-container">
					<a href="http://www.bankmecu.com.au/" target="_blank"><img src="/img/thumbs/mecu.jpg" alt="MECU"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://www.bankmecu.com.au/">www.bankmecu.com.au</a></p>
			</div>

			<div class="sixcol last">
				<h2>Diamond Exchange</h2>
				<div class="thumb-container">
					<a href="http://www.diamondexchange.com.au/" target="_blank"><img src="/img/thumbs/diamondexchange.jpg" alt="Diamond Exchange"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://www.diamondexchange.com.au">www.diamondexchange.com.au</a></p>
			</div>

			<div class="sixcol">
				<h2>Thomas Jewellers</h2>
				<div class="thumb-container">
					<a href="http://www.thomasjewellers.com.au/" target="_blank"><img src="/img/thumbs/tjs.jpg" alt="Thomas Jewellers"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://www.thomasjewellers.com.au">www.thomasjewellers.com.au</a></p>
			</div>

			<div class="sixcol last">
				<h2>MECU Journey</h2>
				<div class="thumb-container">
					<a href="http://www.bankmecu.com.au/Journey" target="_blank"><img src="/img/thumbs/journey.jpg" alt="Bank Mecu Journey"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://www.bankmecu.com.au/Journey">www.bankmecu.com.au/journey</a></p>
			</div>


			<div class="sixcol">
				<h2>YMCA</h2>
				<div class="thumb-container">
					<a href="http://www.victoria.ymca.org.au/" target="_blank"><img src="/img/thumbs/ymca.jpg" alt="YMCA"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://www.victoria.ymca.org.au">www.victoria.ymca.org.au</a></p>
			</div>

			<div class="sixcol last">
				<h2>SAALC MOBILE</h2>
				<div class="thumb-container">
					<a href="http://www.saaquatic.ymca.org.au/mobile.html" target="_blank"><img src="/img/thumbs/saalcmobile.jpg" alt="SAALC"><span>Launch site</span></a>
				</div>
				<p>Visit: <a href="http://www.saaquatic.ymca.org.au/">www.saaquatic.ymca.org.au</a></p>
			</div>
				
		</div>

	</div>
		
	
</div>